body{
    background-color: #001232;
    height: 100%;
}
.container{
    width: 800px;
    margin: 30px auto;
    color: white;
    text-align: center;
}
h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
}
#min,#seconds,#tens{
    font-size: 30px;
}
button{
    width: 150px;
    height: 40px;
    background: transparent;
    color: #fff;
    outline: none;
    border: 2px solid #fff;
    margin-right: 10px;
}
button:hover{
    background-color: #fff;
     color:#001232;
     font-weight: 600;
     text-transform: capitalize;
}